helloworld/src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="53524538-dfd5-4d2b-b31e-bd18fcf5a823" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="1ca14e77-5ee1-4d67-aeaf-277807665215" >
		<http:listener doc:name="Listener" doc:id="0a685f53-6576-4f12-a51f-dfc783303a0a" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#['hello all Welcome to Mule Soft']" doc:name="Set Payload" doc:id="4d0adff7-71a5-434b-8480-c64fb8184c67" />
		<logger level="INFO" doc:name="Logger" doc:id="4017cb7f-9b69-4eb1-982f-2bf37cde4329" message="'sucess'"/>
	</flow>
</mule>
